.Training {
  text-align: center;
  width: 100%;
  flex: 1 0 auto;
}

.Training .Donut {
  margin: 0 auto;
}

.Training.work {
  background: #ffc857;
}
.Training.work .Training-donut-inside {
  color: #fc0522;
}

.Training-donut {
  position: relative;
}

.Training-donut-inside {
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 76px;
  font-weight: bold;
}

.Training-donut-inside:after {
  content: 'Тренировка';
  display: block;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.Training.rest .Training-donut-inside:after {
  content: 'Отдых';
}

.Training.work .Training-control {
  border-color: #fc0522;
}

.Training-control:after {
  content: '';
  display: block;
  opacity: 0.4;
  width: 20px;
  height: 20px;
  background: url(./assets/pause.svg) 0 0 no-repeat;
  background-size: contain;
}
.Training-control.paused:after {
  background-image: url(./assets/play.svg);
}

.Training-control.stop:after {
  background-image: url(./assets/stop.svg);
}

.Training-control:hover:after {
  opacity: 0.7;
}

.Training-progress {
  align-self: flex-end;
  flex: 1 0;
  width: 100%;
}
